<section class="col-3">
    <h2>Inicio de sesion</h2>
    <section class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput id="username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </section>
    <section class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput id="password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </section>
    <section class="m-2">
    <button mat-raised-button color="primary" (click)="login()">Enviar</button>
    </section>
    </section>
